<div class="container my-5">
    <div class="border border-dark rounded d-flex">
       <div class="m-4"><h4><i class="fas fa-shopping-cart cart-icon fa-2x d-inline-flex"></i>Shopping Cart</h4></div>
        <div class="p-4">
            <div class="mb-2">
                
               
                
                <div class="border-gray">
                    hejsan
                </div>
                <!--(click)="incrementCartItem(cartProduct)"-->
                <button class="btn btn-dark btn-sm" >+</button> 
                <button class="btn btn-dark btn-sm">-</button>
                <!-- knapp med soptunna med clear cart function-->
                <button type="button" class="btn btn-danger btn-sm" (click)="removeFromCart"><i class="far fa-trash-alt"></i></button>
            </div>
            <div class="justify-content-between">
                <p>Total Amount:{{ shoppingcartAmount }}</p>
                <p>Total Quantity: {{ shoppingcartTotal }} </p>
            </div>
            
            <a [routerLink]="'/products/'" class="btn btn-info">Products</a>
            <button class="btn btn-success">Till Kassan</button>
        </div>
    </div>
</div>
