<div class="p-4">
    <div class="mb-2">
        <h4 class="m-3">Shopping Cart</h4>
        <app-cart-item></app-cart-item>
    </div>
    <div>
        <p>Total Ampint: Total Amount</p>
        <p>Total Quantity: Total Quantity</p>
        <!-- knapp med soptunna med clear cart function-->
        <button type="button" class="btn btn-danger" ><i class="far fa-trash-alt"></i></button>
    </div>
    <div class="mb-3">Din Kundvarng är tom.</div>
    <button class="btn btn-light">Till Kassan</button>
</div>